:root{
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-bg-color: #fff;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
h1,h2,h3,p,ul{
    margin: 0;
    padding: 0;
}
/* Стилізація хедера */
.header-section{
    max-height: 80px;
    border-bottom: 1px solid #ECECEC;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.logo{
    display: inline-block;
    color: #000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
span{
    color: var(--accent-color);
}
.header-section .container{
    display: flex;
    justify-content: space-between;
}
.nav-section{
    display: flex;
}
.nav-section .logo{
    justify-content: center;
    margin: 22px 93px 0 0;
}
.nav-list{
    max-height: 80px;
    display: flex;
}
.nav-items:not(:last-child){
    margin-right: 50px;
}
.nav-link{
    display: block;
    padding: 32px 0 32px 0;
    color: var(--title-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
}
.illumination{
    color: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color);
}
.nav-contacts{
    display: block;
    padding: 32px 0 32px 0;
    color: var(--primary-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
}
.nav-contacts:hover,
.nav-contacts:focus{
    color: var(--accent-color);
}
/* Стилізація головного контенту сторінки */
.container{
    max-width: 1200px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}
.main{
    padding-bottom: 200px;
    margin-bottom: 94px;
    text-align: center;
    background-color: #2F303A;
    color: var(--primary-bg-color);
}
.main-title{
    display: inline-block;
    margin-top: 200px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
button{
    font-family: inherit;
    cursor: pointer;
}
.main-button{
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    min-width: 197px;
    min-height: 50px;
    padding: 10px 25px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--primary-bg-color);
    border:none;
}
.main-button:hover,
.main-button:focus{
    background-color:  #267bc6;
}
.main-button:active{
    background-color: #27619b;
}
.portfolio-list-button{
    display: flex;
    justify-content: center;
}
.portfolio-items:not(:last-child){
    margin-right: 8px;
}
.portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.portfolio-button{
    background: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    padding: 6px 22px;
    border-radius: 4px;
    border:none;
}
.illumination-btn{
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
}
.portfolio-button:hover,
.portfolio-button:focus{
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
}
.portfolio-button:active{
    background-color: #267bc6;
}
.visually-hidden{ 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
}
.work-section{
    margin-top: 94px;
}
.work-list{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.benefits-section{
    margin-top: 94px;
}
.benefits-list{
    display: flex;
    justify-content: space-between;
}
.benefits-items{
    width: 270px;
}
.benefits-title{
    font-size: 14px;
    text-transform: uppercase;
}
.benefits-text{
    margin-top: 10px;
    color: var(--primary-text-color);
    line-height: 1.71;
}
.title{    
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.team{
    margin-top: 94px;
    padding: 94px 0;
    background: #F5F4FA;
}
.team-list{
    display: flex;
    justify-content: space-between;
}
.team-card{
    margin-top: 50px;
    width: 270px;
    height: 368px;
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-member-name{
    margin-top: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
.team-member-position{
    text-align: center;
    margin-top: 10px;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.18;
}
.portfolio-section{
    margin-top: 94px;
}
.portfolio{
    margin-top: 50px;
    padding-bottom: 94px;
}
.portfolio-card{
    width: 370px;
    height: 404px;
    border: 1px solid #EEEEEE;
}
.portfolio-card-title{
    margin-top: 20px;
    padding-left: 24px;
    font-size: 18px;
    line-height: 2;    
    letter-spacing: 0.06em;
}
.portfolio-name-industry{
    margin-top: 4px;
    padding-left: 24px;
    color: var(--primary-text-color);   
    font-size: 16px;
    line-height: 1.88;
}
.footer-section{
    height: 252px;
    background: #2F303A;
}
.footer-section .logo{
    margin-top: 60px;
    color:#fff;
}
address{
    font-style: normal;
}
.footer-link{
    display: inline-block;
    margin-top: 20px;
    color: #FFFFFF;
    line-height: 1.71;
}
.footer-contacts{
    display: inline-block;
    margin-top: 9px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
}
.footer-contacts:hover,
.footer-contacts:focus{
    color: var(--accent-color);
}
    


